












header p{
    Font-style: italic;
}
.aboutus {
    text-align: center;
}
.aboutus i{
    font-size:30px;
    padding:25px 20px;
    
    
    /*change the color*/
    color:#fff;
    background-color:#DDA0DD;
    /*resize container of icon */
    width: 80px;
    height: 80px;
    
    /*make the container round*/
    border-radius: 50%;
}

.aboutus span{
    width: 200px;
    display: inline-block;
}